<div class="jumbotron">
    <h1 class="display-4">Burger App</h1>
    <p class="lead">This is a simple application to keep track of groceries, their prices, and whether or not they have
        already been purchased.</p>